@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<div class="page">
    <RadzenHeader>
        <Header/>
    </RadzenHeader>
    <RadzenBody>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </RadzenBody>
</div>